@import "tailwindcss";

body {
  position: relative;
  min-height: 100vh;
  background-color: #0f172a;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: -1;

  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: #0f172a;
}
