/* MTB Componenet */
.breeder-section {
  padding: 1rem 2rem;
  background: var(--background-white);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.breeder-subtitle {
  text-align: center;
}

.breeder-description {
  color: var(--text-color-dark);
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 1rem auto;
  font-weight: var(--font-weight-normal);
  text-align: center;
  max-width: 800px;
}

.breeder-profilepic {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin: 1rem auto;
  max-width: 400px;
}

.breeder-profilepic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}