# BACKEND
*.env*
.venv/
__pycache__/
.pytest_cache/
*.log

# FRONTEND
node_modules/
dist/

# Docker
docker-compose-dev.yaml
*Dockerfile*

commands.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/
.env.development

# Development
.git
.gitignore
.idea
.vscode
*.swp
*.swo