# Core Framework
Flask==2.0.1
Werkzeug==2.0.1
waitress==2.1.2

# Database & Caching
mysql-connector-python==8.1.0
redis==4.6.0

# Security & Authentication
bcrypt==4.2.1

# Environment & Configuration
python-dotenv==1.0.0

# File Handling
Pillow==10.0.0
python-magic>=0.4.27
